.App{
    display: flex;
    /* background: url(./../public/Assets/split_background.svg); */
    /* background-repeat: no-repeat; */
    /* background-position: 100 100; */
}
.leftPage{
    width:55vw;
    margin: 10px;
}
.rightPage{
    width:calc( 45vw - 30px );
    margin-top: 10px;
    margin-right: 10px;
    display:block;

}